{% extends "base.html.twig" %}


{% block title %}SymRecipe - Mes recettes
{% endblock %}

{% block body %}


	<div class="container mt-2">
		{% if not recipes.getTotalItemCount is same as (0) %}
			<h1>Mes recettes</h1>
			<div class="d-flex justify-content-end">
				<a href="{{ path('ajouteRecette')}}" class="btn btn-primary d-flex justify-content-end">Ajouter une recette</a>
			</div>

			{# message flash si on bien rajouter une nouvelle recette #}
			{% for message in app.flashes('success') %}
				<div class=" alert alert-success mt-3">
					{{ message }}
				</div>
			{% endfor %}

			<div class="count mt-2">

				Il ya
				{{ recipes.getTotalItemCount }}
				recettes au total

			</div>


			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">Prix</th>
						<th scope="col">Difficulté</th>
						<th scope="col">Date de création</th>

						<th scope="col">Suppresion</th>
					</tr>
				</thead>
				<tbody>
					{% for recipe in recipes %}

						<tr class="table-primary">
							<th scope="row">{{recipe.id}}</th>
							<td>
								{{ recipe.name }}
							</td>
							<td>
								{# {{ recipe.price }} #}
								{{recipe.price is same as(null) ? 'Non renseigné' : recipe.price }}
							</td>
							
							<td>
								{{recipe.difficulty is same as(null) ? 'Non renseigné' : recipe.difficulty}}</td>
							<td>
								{{ recipe.creatAt|date("d/m/Y") }}</td>
							<td>

								<a href="{{ path('recipe.edit', {id: recipe.id}) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path('recipe.delete', {id: recipe.id}) }}" class="btn btn-warning">Suprimer</a>
							</td>

						</tr>
					{% endfor %}

				</tbody>
			</table>

			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(recipes) }}
			</div>
		</div>
	{% else %}
		<h4>il n'ya pas de recette</h4>
		<div class="d-flex justify-content-center">
			<a href="{{ path('ajouteRecette')}}" class="btn btn-primary">Créer une recette</a>
		</div>

	{% endif %}
{% endblock %}
