{% extends "base.html.twig" %}
{% block title %}
	SymRecipe - Nouvelle recette
{% endblock %}
{# pour dire a twig qu'on utilise le theme boodstrap #}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
		<h1 class="my-4 text-center">Création d'une recette</h1>
	<div class="container">

				
		{{ form_start(form) }}
		{{ form_widget(form)}}
		{# <div class="form-check mt-4">
			{{ form_label(form.isFavorite) }}
		
		</div>
			<div class="form-check mt-4">
			{{ form_label(form.isPublic) }}
		
		</div>
		 #}
			<button type="submit" class="btn btn-warning my-4"> Ajouter la recette</button>

		{{form_end(form)}}
		
	</div>
{% endblock %}
