{% extends "base.html.twig" %}
{% block title %}
	recettes -
	{{recipe.name}}
{%  endblock  %}
{% block body %}
	<div class="container">
		<main>
			<section>
				{# Le nom de la recette #}
				<div class="d-flex mt-5">
					<hr>
					<div>
						<h1 class='mx-5 text-center '>{{recipe.name}}</h1>
						<p class='text-center mt-4'>
							<strong>Categorie :
							</strong>
							{{recipe.category}}</p>
					</div>
					<hr>
				</div>
				{# j'affiche l'auteur de la recette, le temps de preparation, date de création...  #}
				<div class="infoRecipe mt-2 mx-5 d-flex justify-content-around">
					<div>
						<p>
							par :
							<strong>
								{{recipe.user}}
							</strong>
						</p>
					</div>

					<div class="infoRecipe">
						<p>
							le :
							{{recipe.creatAt|date('d/m/y')}}</p>
					</div>

					<div class="">
						{% if recipe.time and recipe.time < 60 %}
							<p>Temps ( en minute ) :
								{{recipe.time}}
							</p>
						{% elseif recipe.time > 60 %}
							{% set hours = (recipe.time)/60 %}
							{% set minutes = (recipe.time) % 60 %}
							<p>
								Temps :
								{{  (hours|round)}}
								h
								{{ minutes }}
							</p>
						{% else %}
							<p>Temps non renseigné</p>
						{% endif %}
					</div>
				</div>

				<div class=" infoRecipe mx-5 d-flex justify-content-around">
					<div class="">
						{% if recipe.nbPeople %}
							<p>
								Pour :
								{{recipe.nbPeople}}
								personnes
							</p>
						{% else %}
							<p>Nombre de personne non renseigné</p>
						{% endif %}
					</div>
					<div class="">
						{% if recipe.Difficulty %}
							<p>
								Difficulté :
								{{recipe.Difficulty}}/5
							</p>
						{% else %}
							<p>Difficulté non renseigné</p>
						{% endif %}
					</div>
					<div class="">
						{% if recipe.price %}
							<p>
								Prix ( en Euro) :
								{{recipe.price}}
								euros
							</p>
						{% else %}
							<p>Prix non renseigné</p>
						{% endif %}
					</div>
				</div>

				{# L'image de la recette #}
				<div class=" text-center ">
					<img src="{{ vich_uploader_asset(recipe, 'imageFile')|default(asset('images/logoClubRecette2.png')) }}" class="img-fluid rounded-start recipePicture" alt="l'image de la recette">
				</div>

				<div class="d-flex mt-5">
					<hr class="">
					<div class="">
						<p class='recipShowDetails mx-5'>
							Ingrédients
						</p>
					</div>
					<hr>
				</div>

				{# la liste des ingrédients #}
				<div class="divIngredients">
					{% if recipe.nbPeople %}
						<p class="mx-2">
							Pour
							{{recipe.nbPeople}}
							personnes
						</p>
					{% else %}
						<p class="mx-2">Nombre de personne non renseigné</p>
					{% endif %}

					{% for ingredient in recipe.ingredients %}
						<menu>
							<li>
								<span class="badge bg-primary">{{ ingredient.name }}</span>
							</li>
						</menu>
					{% endfor %}
				</div>
				{#message flash indiquant que la note a été ajoutée avec succès #}
				{% for message in app.flashes('success') %}
					<div class=" alert alert-success mt-3">
						{{ message }}
					</div>
				{% endfor %}
				<div class="d-flex mt-5">
					<hr class="">
					<div class="">
						<p class='recipShowDetails mx-5'>
							Description

						</p>
					</div>
					<hr>
				</div>
				<div class="w-75 mx-auto">
					{{recipe.description|raw}}
				</div>
				<div class="d-flex mt-5">
					<hr class="">
					<div class="">
						<p class='recipShowDetails mx-5'>
							Avis
						</p>
					</div>
					<hr>
				</div>
			</section>
			<section>
				{# commentaire et avis #}
				<div class="form-group w-75 m-auto">
					<p>La moyenne de cette recette est de
						{{ recipe.average|number_format(2, '.', ',')}}/5
					</p>
					{{ form_start(form) }}
					{{ form_widget(form)}}

					{{form_end(form)}}

				</div>
				<div class="d-flex mt-5">
					<hr>
					<div>
						<p class='recipShowDetails mx-5'>
							Commentaires
						</p>
					</div>
					<hr>
				</div>
				<div class=" w-75 m-auto mt-5">
					<h2 class="">
						{{ recipe.comments | length  }}
						Commentaire(s)
					</h2>
					<div class="comment">
						{{form(formComment)}}
						</div>
						{%  for comment in recipe.comments %}
							<div class="block p-2 m-1 rounded-lg shadow-lg bg-white">
								<div class="d-flex bd-highlight mb-3">
									<div class="p-1">
										<img class="avatar" src={{asset('/images/profil.png')}} alt="avatar"/>
									</div>
									<div class="mx-3">
										<strong class="font-semibold text-xl mb-2 text-gray-800">{{ comment.author }}</strong>
										<p>{{ comment.createdAt|date('d/m/y H:i')  }}</p>
										<p class="text-gray-500 font-light mb-6">
											{{ comment.content }}
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</section>
			</main>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script src="{{ asset('js/scripts.js') }}"></script>
	{% endblock %}
