{% extends "base.html.twig" %}
{% block title %}
	recettes -
	{{recipe.name}}
{%  endblock  %}
{% block body %}
	<div class="container">
		<h1 class='mt-4'>
			{{recipe.name}}</h1>

		<div class="vich_image">
			<img src="{{ vich_uploader_asset(recipe, 'imageFile')|default('https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1200px-User-avatar.svg.png') }}" class="img-fluid rounded-start" alt="">
		</div>
		{# message flash si on bien rajouter une note #}
		{% for message in app.flashes('success') %}
			<div class=" alert alert-success mt-3">
				{{ message }}
			</div>
		{% endfor %}

		<p>La moyenne de cette recette est de
			{{ recipe.average|number_format(2, '.', ',')}}/5
		</p>
		{# {{ dump(recipe.average) }} #}

		<div>
			<span class="badge bg-primary">
				Créée le
				{{recipe.creatAt|date('d/m/y')}}</span>
		</div>
		<div class="mt-4">
			{% if recipe.time and recipe.time < 60 %}
				<p>Temps ( en minute ) :
					{{recipe.time}}
				</p>
			{% elseif recipe.time > 60 %}
				{% set hours = (recipe.time)/60 %}
				{% set minutes = (recipe.time) % 60 %}
				{# {% recipe.time  =  hours  %} #}
				<p> Temps : {{  (hours|round)}} h {{ minutes }} </p>
				{# {{recipe.time}} #}
			{% else %}
				<p>Temps non renseigné</p>
			{% endif %}


			{# {% if recipe.time %}
							{% if recipe.time < 60 %}
								<p>Temps ( en minute ) :
									{{recipe.time}}
								</p>
							{% else %}
									{% $hours = floor(recipe.time)/60 %}
									{% $minutes = recipe.time % 60 %}
									{% if(recipe.time<10)}
										{% $minutes = '0' . $minutes %}
									{% else %}
										{% $minutes = $minutes %}
									{% endif %}
									
									{% else %}
										<p>Temps non renseigné</p>
						{% endif %}
						{% endif %} #}


		</div>
		<div class="mt-4">
			{% if recipe.nbPeople %}
				<p>
					Pour
					{{recipe.nbPeople}}
					personnes
				</p>
			{% else %}
				<p>Nombre de personne non renseigné</p>
			{% endif %}
		</div>
		<div class="mt-4">
			{% if recipe.Difficulty %}
				<p>
					Difficulté :
					{{recipe.Difficulty}}/5
				</p>
			{% else %}
				<p>Difficulté non renseigné</p>
			{% endif %}
		</div>
		<div class="mt-4">
			{% if recipe.price %}
				<p>
					Prix ( en Euro) :
					{{recipe.price}}
					euros
				</p>
			{% else %}
				<p>Prix non renseigné</p>
			{% endif %}
		</div>


		<div>
			{{recipe.description|raw}}
		</div>
		<div class="mt-4">
			<p class='mt-4'>
				Ingrédients</p>
			{% for ingredient in recipe.ingredients %}
				<span class="badge bg-primary">{{ ingredient.name }}</span>
			{% endfor %}
		</div>

		<div class="mark">
			{{form(form)}}
			</div>
		</div>
	{% endblock %}
